# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrives\Školní\OneDrive - Soukromá střední škola výpočetní techniky\Maturitní ročník\HTML CSS\sssvt-pvy-maturita-dogs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
